html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 220px 1fr;
}

.sidebar {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-left: 20px;
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    display:grid;
    grid-template-rows: 80px repeat(5, 40px) 80px repeat(3, 40px);
    grid-template-columns: 50px 1fr;
}

.sidebar > div {
    padding-top: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.img {
    height: 20px;
    width: 20px;
    align-self: center;
}

.dash-img {
    height: 40px;
    width: 40px;
}

.dashboard {
    font-size: 23px;
    margin-top: 9px;
}


.header {
    display: grid;
    grid-template-columns: 1fr 805px 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 45px);
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    gap: 20px;
    border-bottom: 3px solid rgba(163, 155, 155, 0.856);
}

.profile-pic {
    height: 40px;
    width: 40px;
    align-self: center;
}